In [2]:
import pandas as pd
import mysql.connector as mysql 
import sqlite3

In [5]:
db_conn = mysql.connect(host = '10.4.19.215', user = 'sugengw07', password= 'sgwi2341',
database = 'mpninfo',port = '3306')
with open(r'sql\mpnspmpbkspmkp.sql','r') as query:
    penerimaan = query.read()
data = pd.read_sql(penerimaan,db_conn)

In [21]:
mf = pd.read_excel(r'MFWP\MFWP+klu.xlsx',usecols=['NPWP','NAMA_WP','NAMA_AR','SEKSI','NAMA_KLU'],
dtype={'NPWP':'str'},engine='openpyxl')
mf['NPWP9'] = mf['NPWP'][0:9;]

SyntaxError: invalid syntax (Temp/ipykernel_10624/1999430633.py, line 3)

In [10]:
data = pd.merge(data,mf, left_on='npwp',right_on='NPWP', how='left')
data.drop(['nama', 'ntpn', 'bank', 'nosk', 'nospm', 'tipe', 'source', 'extra', 'billing','nop', 'pembuat',],axis=1,inplace=True)

In [20]:
mf

,NPWP,NAMA_WP,NAMA_AR,SEKSI,NAMA_KLU,NPWP9
0,010611259007000,PULO MAS JAYA,FUAD AZIZ KARDINTO,Pengawasan I,REAL ESTAT YANG DIMILIKI SENDIRI ATAU DISEWA,010611259007000
1,013040993073000,KENTANIX SUPRA INTERNATIONAL,FUAD AZIZ KARDINTO,Pengawasan I,REAL ESTAT YANG DIMILIKI SENDIRI ATAU DISEWA,013040993073000
2,013118211007000,PAKUBUMI SEMESTA,FUAD AZIZ KARDINTO,Pengawasan I,PEMASANGAN PONDASI DAN PILAR,013118211007000
3,013289475004000,DAYA BOHO MANDIRI,FUAD AZIZ KARDINTO,Pengawasan I,KONSTRUKSI BANGUNAN SIPIL LAINNYA YTDL,013289475004000
4,013680244007000,JATINEGARA SENTOSA,FUAD AZIZ KARDINTO,Pengawasan I,PERDAGANGAN ECERAN BERBAGAI MACAM BARANG YANG ...,013680244007000
...,...,...,...,...,...,...
1841,819543604003000,MULTITEK KABEL INDONESIA,WILLI SUJITA,Pengawasan III,"PERDAGANGAN BESAR MESIN, PERALATAN DAN PERLENG...",NaN
1842,844549584003000,ALYA NABYLA,WILLI SUJITA,Pengawasan III,PEGAWAI SWASTA,NaN
1843,857979991009000,ARGYA PRANA DIPTA,WILLI SUJITA,Pengawasan III,"PERDAGANGAN BESAR MESIN, PERALATAN DAN PERLENG...",NaN
1844,862468816008000,NAJAH GEMILANG ABADI,WILLI SUJITA,Pengawasan III,"PERDAGANGAN BESAR MESIN, PERALATAN DAN PERLENG...",NaN
1845,866501539002000,RICHARD JOSANO,WILLI SUJITA,Pengawasan III,PEGAWAI SWASTA,NaN